/* ----------- INDEX PAGE -----------*/

/* HERO IMAGE AT TOP OF PAGE*/

.hero-container {
    overflow: hidden;
    position: relative;
    max-height: 52vh;
    height: 52vh;
  }
  
  .hero-image {
    position: absolute;
    bottom: 0;
    /* liner gradient tints the image darker for readability*/
    background-image: linear-gradient( rgba(0,0,0,.3), rgba(0,0,0,.3) ), url(Images/Iceberg.png);
    background-size: cover;
    height: auto;
    width: 100vw;
    background-color: #141c25;
    display: flex; /* Change to `display: none` for no hero image */
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    padding: 21vh 0;
  }
  
  .test-top {
    position: relative;
    text-align: center;
    font-size: 100px;
    color: #ffffff;
    padding-right: 133px;
    margin-bottom: -4.7rem;
    font-weight: bold;
  }

  .test-byline {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    padding-top: 0px;
  }